[Unit]
Description=etcd server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
OOMScoreAdjust=-1000
WorkingDirectory={{ etcdDataPath }}
EnvironmentFile=-{{ etcdConfig }}
ExecStart={{ etcdCommandPath }}/etcd \
	--quota-backend-bytes=6442450944 \
        --auto-compaction-retention=24
        -–snapshot-count="50000" \
        -–max-snapshots="10" \
        -–max-request-bytes=9437184 \
        -–heartbeat-interval="200" \
        -–election-timeout="1000" \
        -–max-txn-ops=128 \
        -–log-level=info
NotifyAccess=all
Restart=always
RestartSec=5s
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
